* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #1d1d1d;
    color: #a3a3a3;
    line-height: 1.6;
    font-size: 12px;
}

.collection {
    margin: 5px;
    background-color: #ffffff0a;
    border-radius: 10px;
}

.collection_title {
    font-size: 24px;
    font-weight: bold;
    color: #949494;
    padding: 0px 10px;
}

.collection_content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.card {
    user-select: none;
    cursor: default;
    background-color: rgba(255, 255, 255, 0.04);
    color: #7e7e7e;
    border-radius: 10px;
    width: 300px;
    padding: 5px;
    margin: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card_header {
    font-size: 20px;
    font-weight: bold;
    color: #949494;
}

.card_description {
    font-size: 14px;
    margin-bottom: 10px;
}





.card_active, .card:hover {
    background-color: rgba(197, 146, 231, 0.178);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    color: #b9b9b9;
}


.card_example {
    color: #a4eec5;
    margin-top: 10px;
}


.bracket {
    color: #e7e192;
}

.bracket_inner {
    color: #96a8f5;
}

.class, .object {
    color: #bb6485;
    font-weight: bold;
}

.keyword {
    color: #f78c6c;
}

.operator {
    color: #ff5370;
}

.method {
    color: #82aaff;
}

.string {
    color: #d8a378;
    font-weight: bold;
}

.number {
    color: #f78c6c;
}